terrific<2.258
None<11.657
Aucklander==4.391
paleolithic==1.193
uffdah<9.988
curability<7.842
wrecche==6.771
unexplainable==2.915
likewise==7.957
footway>9.618
None>6.676
out-of-date<0.962
laicistic>=6.511
dispensers==5.796
polyphyly==9.189
ballcock<1.741
longspurs<0.272
decoctions<5.166
vadouvan>=3.143
turti>=5.623
tetrameric==5.471
blatant>=1.005
lysate>2.376
trophies<7.902
rooks>6.796
Saussure<6.781
umbellets==4.63
androgyne>1.021
flutamide>=0.592
neurism>9.765
copresenter>=6.605
schmoozer<5.119
unceasable==4.759
journeyman>10.415
pavee>=4.891
overstories<11.158
kitties<5.58
stotinki<0.737
quirkiness=<3.573
megapacks>3.179
demi-glaze=<6.77
squabby>=7.265
metallizes==1.912
serranoid>=7.204
topographical>=0.836
rowdie<8.049
re-explaining<0.18
needlesticks>5.132
benzil>=2.044
cross-spider>7.77
Benelux==10.378
jackrabbited>=0.08
uniformity>1.621
latitudinarian>4.633
idiomatic=<11.226
creast==10.488
sulliage>5.977
semi-metal>=5.215
Palmyra>2.475
buttfucker==9.73
drying-machine==8.718
